@import "tailwindcss";
@plugin "daisyui";


a.active {
  
  background: linear-gradient(to right, #632EE3, #9F62F2);
  -webkit-background-clip: text; 
  background-clip: text;         
  -webkit-text-fill-color: transparent; 
  color: transparent;                    
  font-weight: 700; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
